body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: chartreuse;
}

header,main,footer {
  max-width: 60%;
  margin: auto;
}

a {
  color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.event-section {
  display: flex;
  flex-wrap: wrap;
}

.event-heading {
  flex: 100%;
}

.event-list {
  flex: 1;
}

#noscript {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

#copyright {
  text-align: center;
}